dash==0.17.7  # The core dash backend
dash-renderer==0.7.3  # The dash front-end
dash-html-components==0.6.2  # HTML components
dash-core-components==0.5.1  # Supercharged components
plotly==2.0.11  # Plotly graphing library used in examples"colorscheme candyman
